body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: black;
}

nav form {
	background-color: black;
	color: silver;
}

.container {
	border: none;
	text-align: center;
	font-size: 30px;
	font-family: impact;
	background-color: black;
	color: #ffd700;
	margin: auto;

}

.col-md-4 {
	display: inline-block;
	border: 10px solid #ffd700;
	text-align: center;
	font-size: 20px;
	font-family: Fantasy;
	width: 30%;
	border-radius: 50px;
	margin-right: 10px;
	margin-left: 10px;
	height: 100px;
	text-decoration: none;
	color: #ffd700;
	background-color: #fff44f;
	box-shadow: 15px 15px 15px;

}
footer {
	font-size: 10px;
	font-family: Courier;

}

div form {

	font-size: 15px;
	font-family: arial;
	margin-left: 20px;
	margin-bottom: 30px;
	position: absolute;
	color: #ffd700;
}

 #contact {
 	font-family: impact;
	font-size: 20px;
	color: #ffd700;
	text-decoration: none;
    float: right;
	margin-right: 80px;
}
 #about {
    font-family: impact;
	font-size: 20px;
	color: #ffd700;
	text-decoration: none;
    float: right;
	margin-right: 80px;

 }
 #aboutlink {
     text-align: center;
     font-size: 18px;
     background-color: black;
     color: #ffd700;
 }



 .col-md-4 a{
           color: black;
       }
       a:hover{
           color: #fff44f;
       }
       a:active{
           color: red;
       }

 
